body {
    background-color: #B99470; /* ระบุรหัสสีเป็นค่า Hex */
    color:#F7DCB9;
    font-family: Serif;
}
table {
    border-collapse: collapse;
    
    letter-spacing: 1px;
}
table td {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: #F7DCB9; /* ระบุสีลิงก์ปกติ */
}

a:hover {
    color: #B5C18E; /* ระบุสีของลิงก์เมื่อเมาส์วางบน */
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #45FFCA;
    border-width: 5px;
    width: 30%;
}

img {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}